<div class="container">
  <div class="row">
    <%= form_for(:dog, method: "put",url: dog_path(dog), :html => {:class => "col s12"}) do |f| %>
      <div class="row">
        <div class="input-field col s6">
          <%= f.label :name %>
          <%= f.text_field :name, :value => dog.name %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.label :bio %>
          <%= f.text_area :bio, :value => dog.bio, :class => "materialize-textarea" %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
        <%= f.file_field :avatar, :value => "upload picture" %>
        </div>
      </div>
      <%= f.hidden_field :owner_id, :value => @user.id %>
      <%= f.submit(:class => "btn", :value => "Edit")%>
    <% end %>
  </div>
</div>
