<div class="container">
  <div class="row">
    <div class="col s12">
      <%= form_for(:dog, url: user_dogs_path(@user.id), :html => {:class => "col s12"}) do |f| %>
        <div class="row">
          <div class="input-field col s6">
            <%= f.label :name %>
            <%= f.text_field :name %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <%= f.label :bio %>
            <%= f.text_field :bio %>
          </div>
        </div>
        <div class="file-field input-field avatar">
          <div class="btn light-blue">
              <span>Upload Profile Picture</span>
             <%= f.file_field :avatar %>
          </div>
          <input class="file-path validate" type="text"/>
        </div>
        <%= f.hidden_field :owner_id, :value => current_user.id %>
        <%= f.submit(:class => "btn light-blue", :value => "Register" )%>
      <% end %>
    </div>
  </div>
</div>
