<div class="section">
  <h1><%= dog.name %></h1>
  <div class="row">
    <div class="col s4">
      <a href="/dogs/<%= dog.id %>">
        <%= image_tag dog.avatar.url(:medium, :class => "circle responsive-img") %>
      </a>
    </div>
    <div class="col s8">
      <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header" style="padding-left: 45px;">Dogs <%= dog.name %> Follows</div>
        <div class="collapsible-body">
          <ul class="collection">
            <% find_good_dogs(dog).each do |friend| %>
              <li class="collection-item avatar">
                <%= image_tag dog.avatar.url(:small, :class => "circle responsive-img") %>
                <span><a href="/dogs/<%= friend.id %>"><%=friend.name%>
                </a></span>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
      <li>
        <div class="collapsible-header" style="padding-left: 45px;">Edit <%= dog.name %></div>
        <div class="collapsible-body">
          <%= render partial: "edit", locals: {dog: dog} %>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <%= form_for :dog, url: dog_path(dog), method: "delete" do |f| %>
            <%= f.submit value: "Remove From Pack", :class => "btn-flat", :style => "text-transform: capitalize;" %>
          <% end %>
        </div>
      </li>
    </ul>
    </div>
  </div>
  <div id="twilio-messaging">
    <%= button_to "Send Emergency Alert", send_text_message_path(:user_numbers => text_users, :dog => dog.name), :class => "btn red"%>
  </div>
</div>
<div class="divider"></div>
