<h1>Dogs#edit</h1>
<%= form_for :dog do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, :placeholder => @dog.name %>
  <%= f.label :bio %>
  <%= f.text_field :bio, :placeholder => @dog.bio %>
  <%= f.text_field :profile_img, :placeholder => @dog.profile_img %>
  <%= f.hidden_field :owner_id, :value => @user.id %>
  <%= f.submit %>
<% end %>
