<div class="container">
  <h1 class="center"><%= @user.username %>'s Pack</h1>
  <div class="row">
    <div class="col s12 l6">
      <a class="waves-effect waves-light btn modal-trigger2" href="#modal2">Add New Dog To Pack</a>
    </div>
    <div class="col s12 l6">
      <div class="card col s12 l6">
        <p class="flow-text" id="weather-summary">Weather Summary: <%= @forecast_data["summary"] %><br class="end">Current Temp: <%= @forecast_data["temperature"] %><br>Chance of Storm: <%= @forecast_data["nearestStormDistance"] %><br>Chance of Rain: <%= @forecast_data["precipProbability"] %></p>
      </div>
    </div>
  </div>
  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>Add Dog</h4>
      <%= render partial: "new"%>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
  <% @dogs.each do |dog|%>
    <%= render partial: "profile", locals: {dog: dog} %>
  <% end %>
</div>
