<div id="get_dog" name="<%= @dog.id %>"> </div>
<div class="container">
  <h1 class="center"><%= @dog.name %></h1>
  <div class="section">
    <div class="row">
      <div class="center">
        <%= image_tag @dog.avatar.url(:medium, :class => "circle responsive-img") %>
      </div>
      <% if check_friend_status?(@dog) == false %>
        <% if @dog.owner_id != current_user.id %>
          <a class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Follow <%= @dog.name %>" id="add-friend" name="<%= @dog.id %>"><i class="mdi-social-plus-one"></i></a>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="card black">
      <div class="card-content white-text">
        <span class="card-title">About Me</span>
        <p><%= @dog.bio %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card black">
      <div class="card-content white-text">
        <span class="card-title">Dogs <%= @dog.name %> Follows</span>
        <ul class="collection">
          <% @dog.followings.each do |friend| %>
            <li class="collection-item avatar">
              <a href="/dogs/<%= friend.id %>">

                <span class="title"><%=friend.name%></span>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
