<div id="dogs-map" name="<%= @location_array %>">
</div>
<div class="container">
  <div class="row">
    <div class="col s12 l6 offset-l3">
      <ul class="collection">
        <% @local_dogs.each_with_index do |dog, index| %>
          <% @user = User.find_by(id: dog.owner_id) %>
          <li class="collection-item">
          <%= image_tag dog.avatar.url(:medium, :class => "circle responsive-img") %>
          <a href="/dogs/<%= dog.id %>" ><h5><%= @alphabet[index]%>. <%= dog.name %> </h5></a>
            <%= image_tag @user.avatar.url(:thumb, :class => "circle responsive-img") %>
          <h5><a href="/direct_conversations"> Send a message to <%= dog.name %>'s owner: <%= @user.username %></a></h5>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
  <h3></h3>
    <div id="users-lat", name="<%= @users_lat %>">
    </div>
    <div id="users-lng" name="<%= @users_lng %>"></div>

<script type="text/javascript">


function initMap() {
  var lat;
  var lng;
  var usersLat = [];
  var usersLng = [];
  $.ajax({
        url: "/maps/data",
        dataType: "json",
        success: function(json_response) {

          usersLat = json_response.users_lat
         usersLng = json_response.users_lng
          lat = json_response.my_lat

          lng = json_response.my_lng
    for(var i = 0; i < usersLng.length; i++) {
        usersLat[i] = parseFloat(usersLat[i]);
        usersLng[i] = parseFloat(usersLng[i]);
    }
          lat = parseFloat(lat);
          lng = parseFloat(lng);
          map = new google.maps.Map(document.getElementById('dogs-map'), {
            center: {lat: lat, lng: lng},
            zoom: 14
          });
           var cityCircle = new google.maps.Circle({
      strokeColor: '#FF0000',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#FF0000',
      fillOpacity: 0.35,
      map: map,
      center: {lat: lat, lng: lng},
      radius: 40
    });
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
    var labelIndex = 0;
   var markers = []
   markers.length = usersLng.length
   var contentString = []
   contentString.length = usersLng.length

   for(var i = 0; i < usersLat.length; i++) {
      console.log(usersLat[i])
      markers[i] = new google.maps.Marker({
    map: map,
    position: {lat: usersLat[i], lng: usersLng[i]},
    label: labels[labelIndex++ % labels.length]

  });
       }

        }
      });



}


    </script>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxHSsHvEIld84HHYj5nvetfW6cV7gYNAs&callback=initMap">
    </script>
