<li>
  <div style="padding-top:5px;"class="collapsible-header light-blue lighten-4">
  <h4><%= direct_conversation.subject %></h4>
  <% direct_conversation.participants.each do |user| %>
    <div class="chip">
      <img src="<%= image_url('user.avatar')%>" alt="Contact Person">
      <%= user.username %>
    </div>
  <% end %>
  </div>
  <div class="collapsible-body">
    <div class="pm_list">
      <%= render partial: "private_messages/private_message", collection: direct_conversation.private_messages, as: :message %>
    </div>
    <div class="pm_forms">
      <%= render partial: "private_messages/form", locals: {direct_conversation: direct_conversation, private_message: PrivateMessage.new} %>
    </div>
  </div>
</li>
