<div class="container">
  <div class="row">
    <%= image_tag @user.avatar.url(:thumb) %>
  </div>
  <div class="row">
    <%= form_for(:user, :html =>{:class => "col s12"}) do |f| %>
      <div class="row">
        <div class="input-field col s6">
          <%= f.label :username %>
          <%= f.text_field :username, :placeholder => @user.username %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <%= f.label :email %>
          <%= f.text_field :email, :placeholder => @user.email %>
        </div>
      </div>
      <%= f.submit(:class => "btn", :value => "Edit") %>
    <% end %>
  </div>
</div>
