<!DOCTYPE html>
<html>
  <head>
    <title>Hey9</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="parallax-container">
        <div class="parallax"><img src="http://homeheaven.com.au/sites/default/files/styles/heaven_fullsize/public/article/feature/Dog%20play%20date1%20_0.jpg?itok=q08p8Ij8"></div>
    </div>
    <div class="section white">
      <div class="row container">
        <div class="center">
          <img src="<%= image_url('hey-9_logo.png')%>" class="responsive-img center" style="height: 300px;">

        </div>
        <p class="flow-text">Hey-9 - the four-legged social network</p>
        <p class="flow-text">  In today's society, socialization is like water- we need it, but we're not the only ones.  Our dogs are just as chatty as we are, and benefit immensely 
        from developing lasting relationships.  As their owners, its our responsibility to make
        sure our furry friends get what they need.  Meet dogs, find events, make a community.

      </div>
      <div class="row container">
        <h1><%= link_to "Register", new_user_path %></h1>
        <div class="divider"></div>
        <h1><%= link_to "Login", new_session_path %></h2>
      </div>
    </div>
      <div class="parallax-container">
        <div class="parallax"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Running_in_the_grass_yard@Affectionate_Pet_Care.JPG/1280px-Running_in_the_grass_yard@Affectionate_Pet_Care.JPG"></div>
      </div>
  </body>
</html>
