<div class="col s12 m6 l6">
  <a href="/events/<%= event.id %>" class="white-text">
    <div class="card hoverable light-blue darken-3">
      <h5 class="center truncate"><%= event.description %> </h5>
      <h6 class="center"><%= event.event_start.strftime('%D') %> @ <%= event.event_start.strftime('%r') %></h6>
      <h6 class="center"><%= event.location %> </h6>
    </div>
  </a>
</div>
