<div class="col s12 m6 l6">
  <a href="/events/<%= event.id %>" class="white-text">
    <div class="card hoverable light-blue">
      <h5 class="center truncate"><%= event.description %> </h5>
      <p class="center"><%= event.event_start.strftime('%D') %> @ <%= event.event_start.strftime('%r') %></p>
      <p class="center"><%= event.location %> </p>
    </div>
  </a>
</div>
