<div class="container">
  <div class="row">
  <%= form_for(:event, :html => {:class => "col s8 offset-l2"} )do |f| %>
    <div class="row">
      <div class="input-field col s12">
      <%= f.text_field :location,  placeholder: "123 Main St, Chicago, IL, 60601", :id => "event-location"  %>
      </div>
    </div>
    <div class="row">
      <%= f.label :event_start %>
      <%= f.datetime_field :event_start, placeholder: "YYYY/MM/DD", :class => "datepicker" %>
      <%= f.datetime_field :event_start, placeholder: "HH:MM" %>
    </div>
    <div class="row">
      <%= f.label :event_end %>
      <%= f.datetime_field :event_end, placeholder: "YYYY/MM/DD HH:MM", :class => "datepicker" %>
      <%= f.datetime_field :event_end, placeholder: "HH:MM" %>
    </div>
    <div class="row">
      <%= f.text_area :description, placeholder: "Enter event description here", :class => "materialize-textarea" %>
    </div>

     <div class="row">
      <%= f.check_box :public %>
      <%= f.label "public" %>
    </div>
      <%= f.submit "Create event", :class => "btn light-blue", :id => "event-button" %>
  <% end %>
  </div>
</div>
