<div id="event-map" name="<%= @event.lat %>">

</div>

<div class="container">
  <h4>This is <%= @user.username %>'s Event</h4>
  <h5><a href="/direct_conversation">Send <%= @user.username %> a private message</a></h5>
  <div id='event-lng' name="<%= @event.lng %>">


  </div>

  <%= render partial: "event_show", locals: {event: @event} %>


</div>

  <script type="text/javascript">

  var map

 var lat = $("#event-map").attr('name');
 var lng = $("#event-lng").attr('name');
  lat = parseFloat(lat);
  lng = parseFloat(lng);

function initMap() {
  map = new google.maps.Map(document.getElementById('event-map'), {
    center: {lat: lat, lng: lng},
    zoom: 16
  });

var marker = new google.maps.Marker({
    map: map,
    position: {lat: lat, lng: lng},
  });
}

     </script>
     <script async defer
       src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.google_api_key %>&callback=initMap">
     </script>
